<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="categories" class="top_categories" th:object="${board}"
     th:if="${board.getCategories() != null && !board.getCategories().isEmpty() && board.menuLocation != null && board.menuLocation.name() == 'TOP'}">
    <a th:href="@{/board/list/{bid}(bid=*{bid})}" th:text="#{전체}"></a>
    <a th:each="category : ${board.getCategories()}" th:href="@{/board/list/{bid}(bid=*{bid}, category=${category})}" th:text="${category}"></a>
</nav>
</html>