<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">
    <h1 th:text="#{비밀번호_확인}"></h1>

    <form name="frmPassword" method="post" th:action="@{/board/password}" autocomplete="off" target="ifrmProcess">
        <input type="password" name="password" th:placeholder="#{글수정_삭제_비밀번호_입력}">
        <button type="submit" th:text="#{확인}"></button>

    </form>
</main>
</html>