<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">
    <th:block th:if="${board.skins != null || board.skins == 'default'}"
              th:replace="~{front/board/skins/default/update::default}"></th:block>

    <th:block th:if="${board.skins == 'gallery'}"
              th:replace="~{front/board/skins/gallery/update::gallery}"></th:block>

    <th:block th:if="${board.skins == 'qna'}"
              th:replace="~{front/board/skins/qna/update::qna}"></th:block>

    <th:block th:if="${board.skins == 'review'}"
              th:replace="~{front/board/skins/review/update::review}"></th:block>

    <th:block th:if="${board.skins == 'blog'}"
              th:replace="~{front/board/skins/blog/update::blog}"></th:block>

</main>
</html>