server:
  port: 3000

spring:
  # 파일 업로드 용량 설정
  servlet:
    multipart:
      maxFileSize: 20MB
      maxRequestSize: 60MB

  # 데이터베이스 설정
  datasource:
    driverClassName: oracle.jdbc.driver.OracleDriver
    url: jdbc:oracle:thin:@52.78.191.215:1521:xe
    username: ${db.username}
    password: ${db.password}

  # JPA 설정
  jpa:
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        use_sql_comments: true
        dialect: org.hibernate.dialect.OracleDialect
    hibernate:
      ddlAuto: create

  # 타임리프 설정
  thymeleaf:
    cache: true
    prefix: classpath:/templates/

  jackson:
    serialization:
      failOnEmptyBeans: false

# 로거 설정
logging:
  level:
    org:
      hibernate:
        type:
          descriptor:
            sql: trace


# 파일 업로드 경로 설정
file:
  upload:
    path: /home/project/uploads/
    url: /uploads/