<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="comment" th:if="${board.useComment}"><!--댓글기능 활성화 일대만 보여줌-->

    <form th:replace="~{front/board/skins/default/_comment_form::form}"></form>


    <th:block th:object="${boardData}" th:if="*{comments != null && !comments.isEmpty()}">
        <div class="total">
            Total : <th:block th:text="*{commentCount >= 1000 ? #numbers.formatInterger(commentcount, 3, 'COMMA')}"></th:block>
        </div>

    </th:block>


    <ul class="comment_items">
        <li class="item" th:each="comment : *{comments}" th:object="${comment}" th:id="*{'comment_' + seq}">
            <div class="comment_top">
                <div>
                    <th:block th:text="*{commenter}"></th:block>
                    <th:block th:if="*{member != null}" th:text="*{'(' + member.email + ')'}"></th:block>
                </div>
                <div th:text="*{#temporals.format(createdAt , 'yyyy.MM.dd HH:mm')}"></div>

            </div>
            <div class="comment" th:utext="*{content}" <!--th:utext=""-->></div>
            <div class="btns">
                <button type="button" class="delete_comment" th:text="#{삭제}"
                        onclick="return confirm('정말 삭제하시겠습니까?')"></button>
                <button type="button" class="edit_comment" th:text="#{수정}"></button>

            </div>
        </li>
    </ul>

</th:block>
</html>