<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="comment" th:if="${board.useComment}">
    <form th:replace="~{front/board/skins/default/_comment_form::form}"></form>

    <th:block th:object="${boardData}" th:if="*{comments != null && !comments.isEmpty()}">
        <div class="total">
            Total : <th:block th:text="*{commentCount >= 1000 ? #numbers.formatInteger(commentCount, 3, 'COMMA') : commentCount}"></th:block>
        </div>

        <ul class="comment_items">
            <li class="item" th:each="comment : *{comments}" th:object="${comment}" th:id="*{'comment_' + seq}">
                <div class="comment_top">
                    <div>
                        <th:block th:text="*{commenter}"></th:block>
                        <th:block th:if="*{member != null}" th:text="*{'(' + member.email + ')'}"></th:block>
                    </div>
                    <div th:text="*{#temporals.format(createdAt, 'yyyy.MM.dd HH:mm')}"></div>
                </div>
                <!--// comment_top -->
                <div class="comment" th:utext="*{@utils.nl2br(content)}"></div>
                <div class="btns" th:if="*{showEditButton || showDeleteButton}">
                    <a th:if="*{showDeleteButton}" th:href="@{/comment/delete/{seq}(seq=*{seq})}" th:data-deletable="*{deletable}" class="delete_comment" th:text="#{삭제}" onclick="return confirm('정말 삭제하겠습니까?');"></a>


                    <button th:if="*{showEditButton}" type="button" class="edit_comment" th:data-seq="*{seq}" th:data-editable="*{editable}" th:text="#{수정}"></button>
                </div>
            </li>
        </ul>
    </th:block>
</th:block>
</html>