<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{mobile/layouts/main}">
<main layout:fragment="content">
    <h1 th:text="#{비밀번호_찾기}"></h1>

    <form name="frmFindPw" method="post" th:action="@{/member/find_pw}" autocomplete="off" th:object="${requestFindPw}">

        <input type="text" name="email" th:field="*{email}" th:placeholder="#{이메일}">
        <div class="error" th:each="err : ${#fields.errors('email')}" th:text="${err}"></div>


        <input type="text" name="email" th:field="*{name}" th:placeholder="#{회원명}">
        <div class="error" th:each="err : ${#fields.errors('name')}" th:text="${err}"></div>

        <button type="submit" th:text="#{비밀번호_찾기}"></button>
        <div class="error global" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>
    </form>
</main>
</html>