<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="form" th:object="${requestSchool}">
    <input type="hidden" name="gid" th:value="*{gid}">
    <input type="hidden" name="num" th:field="*{num}">
    <div class="error global" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>

    <h2>기본 정보</h2>
    <div th:if="${msg != null}">
        <hr>
        <h2 style="color:red">이미 등록된 학교입니다.</h2>
        <hr>
    </div>
    <table class="table_cols mb30">
        <tr>
            <th width="180">학교</th>

            <td th:if="*{mode != 'edit'}">
                <select name="domain" th:field="*{domain}">
                    <option th:each="school : ${schools}" th:value="${school[1]}" th:text="${school[0]}" th:field="*{domain}"></option>
                </select>
                <div class="error" th:each="err : ${#fields.errors('domain')}" th:text="${err}"></div>
            </td>
            <td th:if="*{mode == 'edit'}">
                <input type="hidden" name="domain" th:value="*{domain}">
                <div th:text="${sName}"></div>
            </td>
        </tr>
        <tr>
            <th>학교 로고</th>
            <td>
                <div id="school_logo">
                    <div th:if="*{logoImage != null}" class="image1_tpl_box" th:id="*{'file_' + logoImage.seq}">
                        <a th:href="@{/file/delete/{seq}(seq=*{logoImage.seq})}" onclick="return confirm('정말 삭제하시겠습니까?');" class="remove" target="ifrmProcess">
                            <i class="xi-close"></i>
                        </a>
                        <div class="inner" th:style="*{@utils.backgroundStyle(logoImage, 250, 250)}"></div>
                    </div>
                </div>
                <button type="button" class="sbtn upload_files" data-location="logo" data-image-only="true" data-single-file="true">
                    <i class="xi-image"></i>
                    이미지 업로드
                </button>
            </td>
        </tr>
        <tr>
            <th>메뉴 위치</th>
            <td>
                <input type="radio" name="menuLocation" value="LEFT" id="menuLocation_LEFT" th:field="*{menuLocation}">
                <label for="menuLocation_LEFT">왼쪽</label>
                <input type="radio" name="menuLocation" value="RIGHT" id="menuLocation_RIGHT" th:field="*{menuLocation}">
                <label for="menuLocation_RIGHT">오른쪽</label>
                <input type="radio" name="menuLocation" value="TOP" id="menuLocation_TOP" th:field="*{menuLocation}">
                <label for="menuLocation_TOP">상단</label>
            </td>
        </tr>
    </table>
    <h2>학교 설명</h2>
    <table class="table_cols mb30">
        <tr>
            <th width="180">코멘트</th>
            <td>
                <textarea name="comment" placeholder="" th:field="*{comment}"></textarea>
            </td>
        </tr>
    </table>
    <h2>배너 설정</h2>
    <table class="table_cols mb30">
        <tr>
            <th width="180">상단 배너</th>
            <td>
                <div th:if="*{banner_top == null}" class="dragndrop_box dragndrop_uploads banner_top_box w_full" data-location="banner_top" data-image-only="true" data-single-file="true"></div>

                <div th:if="*{banner_top != null}" class="dragndrop_box dragndrop_uploads banner_top_box w_full uploaded" data-location="banner_top" data-image-only="true" data-single-file="true" th:id="*{'file_' + banner_top.seq}" th:style="*{@utils.backgroundStyle(banner_top)}" th:data-file-id="*{banner_top.seq}"></div>
            </td>
        </tr>
        <tr>
            <th>하단 배너</th>
            <td>
                <div th:if="*{banner_bottom == null}" class="dragndrop_box dragndrop_uploads banner_bottom_box w_full" data-location="banner_bottom" data-image-only="true" data-single-file="true"></div>

                <div th:if="*{banner_bottom != null}" class="dragndrop_box dragndrop_uploads banner_bottom_box w_full uploaded" data-location="banner_bottom" data-image-only="true" data-single-file="true" th:id="*{'file_' + banner_bottom.seq}" th:style="*{@utils.backgroundStyle(banner_bottom)}" th:data-file-id="*{banner_bottom.seq}"></div>
            </td>
        </tr>
    </table>
    <script th:replace="~{common/_file_tpl::editor_tpl}"></script>
    <script th:replace="~{common/_file_tpl::image1_tpl}"></script>
</th:block>
</html>