<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">
<section layout:fragment="content">
    <h1>학교 목록</h1>
    <h2>학교 조회</h2>
    <!--=======================================검색SSS===============================================-->
    <form name="frmSearch" method="get" th:action="@{/admin/school}" autocomplete="off" th:object="${schoolSearch}">
        <table class="table_cols mb30">
            <tr>
                <th>키워드</th>
                <td>
                    <div class="input_grp">
                        <select name="sopt" >
                            <option value="ALL" th:field="*{sopt}">통합검색</option>
                            <option value="sName" th:field="*{sopt}">학교명</option>
                            <option value="domain" th:field="*{sopt}">도메인</option>
                        <!--    <option value="domain" th:field="*{sopt}">도메인</option>-->
                        </select>
                        <input type="text" name="skey" th:field="*{skey}">
                    </div>
                </td>
            </tr>
        </table>
        <div class="search_btn">
            <button type="submit" class="btn">검색하기</button>
        </div>
    </form>
    <!--=======================================검색EEE===============================================-->

    <h2>학교 목록</h2>
    <form name="frmList" method="post" th:action="@{/admin/school}" target="ifrmProcess" autocomplete="off">
        <input type="hidden" name="_method" value="PATCH">

        <table class="table_rows">
            <thead>
            <tr>
                <th width="40">
                    <input type="checkbox" class="checkall" data-target-name="chk" id="checkall">
                    <label for="checkall"></label>
                </th>
                <th width="150">학교명</th>
                <th width="250">학교번호</th>
                <th width="250">도메인</th>
                <th width="250">학교별 회원수</th>
                <th width="250">수정/삭제</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${items == null || items.isEmpty()}">
                <td colspan="5" class="no_data">등록된 학교가 없습니다.</td>
            </tr>
            <div th:each="item, status : ${items}" th:object="${item}">
                <tr>
                    <td align="center">
                        <input type="checkbox" name="chk" th:value="*{num}">
                    </td>
                    <td th:text="*{schoolName}" align="center"></td>
                    <td align="center" th:text="*{num}"></td>
                    <td th:text="*{domain}" align="center"></td>
                    <td align="center" th:text="*{members.size()}"></td>
                    <td align="center"><a th:href="@{/admin/school/edit/{num}(num=*{num})}" class="sbtn">
                        <i class="xi-pen"></i> 수정하기
                    </a>
                        <a th:href="@{/admin/school/delete/{num}(num=*{num})}" class="sbtn on" onclick="return confirm('정말 삭제하시겠습니까?');">
                            <i class="xi-close-circle-o"></i> 삭제하기
                        </a>

                    </td>
                </tr>
            </div>

            </tbody>
        </table>
        <div class="table_actions">
            <button type="button" class="sbtn form_action" data-mode="delete" data-form-name="frmList">선택 학교 삭제</button>
            <!--<button type="button" class="sbtn on form_action" data-mode="edit" data-form-name="frmList">선택 학교 수정</button>-->
        </div>
    </form>

    <th:block th:replace="~{common/_pagination::pagination}"></th:block>

</section>
</html>