<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<aside th:fragment="menus">
    <a th:href="@{/admin/config}" th:classappend="${menuCode} == 'config' ? 'on'">
        <i class="xi-cog"></i> 기본설정
    </a>
    <a th:href="@{/admin/member}" th:classappend="${menuCode} == 'member' ? 'on'">
        <i class="xi-users"></i> 회원관리
    </a>
    <a th:href="@{/admin/school}" th:classappend="${menuCode} == 'school' ? 'on'">
        <i class="xi-school"></i> 학교 관리
    </a>
    <a th:href="@{/admin/board}" th:classappend="${menuCode} == 'board' ? 'on'">
        <i class="xi-pen"></i> 게시판 관리
    </a>
    <a th:href="@{/admin/qna}" th:classappend="${menuCode} == 'qna' ? 'on'">
        <i class="xi-alarm-clock-o"></i> 문의관리
    </a>
</aside>
</html>