<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">

<section layout:fragment="content">
    <div th:replace="~{admin/commons/_message::message}"></div>
    <h1>기본설정</h1>
    <form name="frmSave" method="post" th:action="@{/admin/config}" autocomplete="off" th:object="${basicConfig}">
        <h2>사이트 설정</h2>
        <table class="table_cols mb30">
            <tr>
                <th width="180">사이트 제목</th>
                <td>
                    <input type="text" name="siteTitle" th:field="*{siteTitle}">
                </td>
            </tr>
            <tr>
                <th>사이트 설명</th>
                <td>
                    <input type="text" name="siteDescription" th:field="*{siteDescription}">
                </td>
            </tr>
            <tr>
                <th>사이트 키워드</th>
                <td>
                    <input type="text" name="siteKeywords" th:field="*{siteKeywords}">
                </td>
            </tr>
            <tr>
                <th>CSS, JS 버전</th>
                <td>
                    <input type="number" name="cssJsVersion" min="1" th:field="*{cssJsVersion}">
                </td>
            </tr>
        </table>

        <h2>썸네일 이미지 설정</h2>
        <table class="table_cols mb30">
            <tr>
                <th width="180">가로X세로</th>
                <td>
                    <textarea name="thumbSize" th:field="*{thumbSize}" placeholder="예) 150X150, 여러개는 줄개행하여 입력"></textarea>
                </td>
            </tr>
        </table>

        <h2>약관 설정</h2>
        <table class="table_cols">
            <tr>
                <th width="180">회원가입약관</th>
                <td>
                    <textarea name="joinTerms" th:field="*{joinTerms}"></textarea>
                </td>
            </tr>
        </table>
        <div class="submit_btns">
            <button type="reset" class="btn">다시입력</button>
            <button type="submit" class="btn">저장하기</button>
        </div>
    </form>
</section>
</html>