.board_view .subject { border: 1px solid #222; padding: 10px 15px; border-radius: 3px; font-size: 1.35rem; font-weight: 400; margin-bottom: 10px; }
.board_view .content { border: 1px solid #222; padding: 15px; border-radius: 3px; margin-bottom: 10px; }

.board_view .post_info { display: flex; justify-content: space-between; align-items: center; border: 1px solid #222; border-radius: 3px; padding: 7px 15px; margin-bottom: 10px; }
.board_view .post_info .left span { margin-right: 20px; }
.board_view .post_info .right span { margin-left: 20px; }