.board_view .subject { border: 1px solid #222; padding: 10px 15px; border-radius: 3px; font-size: 1.35rem; font-weight: 500; margin-bottom: 10px; }
.board_view .content { border: 1px solid #222; padding: 15px; border-radius: 3px; margin-bottom: 10px; }

.board_view .post_info { display: flex; justify-content: space-between; align-items: center; border: 1px solid #222; padding: 7px 15px; margin-bottom: 10px; }
.board_view .post_info .left span { margin-right: 20px; }
.board_view .post_info .right span { margin-left: 20px; }

.board_view .downloads { margin-bottom: 10px; }
.board_view .downloads li { border-bottom: 1px solid #222; background: #f8f8f8; padding: 7px 15px; }
.board_view .downloads li a:hover { text-decoration: underline; }
.board_view .downloads li:first-of-type { border-top: 1px solid #222; }

/* 게시판 버튼 공통 */
.board_btns { text-align: right; }
.board_btns .btn { display: inline-block; border: 1px solid #222; height: 27px; line-height: 25px; padding: 0 20px; border-radius: 3px; cursor: pointer; transition: all 0.5s; margin-left: 3px; }
.board_btns .btn:hover { background: #222; color: #fff; }