<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content" class="layout_width_m">
    <h1 th:text="#{로그인}"></h1>

    <div class="login-page w_full">
        <div class="form">
            <form class="login-form" method="post" th:action="@{/member/login}" autocomplete="off">
                <input type="text" placeholder="userId" name="username" th:value="${session.username}"/>
                <div class="error" th:if="${session.NotBlank_username != null}" th:text="${session.NotBlank_username}"></div>

                <input type="password" name="password" placeholder="password"/>
                <div class="error" th:if="${session.NotBlank_password != null}" th:text="${session.NotBlank_password}"></div>

                <button type="submit" th:text="#{로그인}"></button>
                <div class="error" th:if="${session.Global_error != null}" th:text="${session.Global_error}"></div>

                <p class="message" th:text ="#{계정이_없으신가요?}"> </p>
                <a style="color : green" th:href="@{/member/join}" th:text="#{회원가입}"></a>

            </form>
        </div>
    </div>

</main>
</html>