@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
* { font-family: 'Noto Sans KR', sans-serif; color: #000; box-sizing: border-box; outline: none; }
html { font-size: 13px; }
body { margin: 0; }
a { text-decoration: none; }
ul, ol { list-style: none; margin: 0; padding: 0; }
dl, dt, dd { margin: 0; padding: 0; }
img { border: 0; }

dl { display: flex; }
dt { width: 180px; }
dd { flex-grow: 1; }
img { margin-left: auto; }

.layout_width { max-width: 1300px; min-width: 1000px; margin: 0 auto; }
.layout_width_m { max-width: 700px; min-width: 500px; margin: 0 auto; }

/* 페이징 공통 S */
.pagination { text-align: center; margin: 30px 0; }
.pagination .page { border: 1px solid #596b99; color: #596b99; display: inline-block; padding: 5px 10px; border-radius: 3px; background: #fff; }
.pagination .page.on { background: #456E2A; color: #fff; }
.pagination .page + .page { margin-left: 3px; }
/* 페이징 공통 E */

/* 헤더 공통 S */
header .site_top { background: #f8f8f8; border-bottom: 1px solid #d5d5d5; }
header .site_top > div { text-align: right; height: 50px; line-height: 50px; align-items: center; }
header .site_top a { margin-left: 15px; }
header .site_top a:hover { text-decoration: underline; }

header .logo_search > div { display: flex; align-items: center; justify-content: space-between; height: 100px; }
header .logo_search .search { display: flex; }

header nav { background: #7DB249; }
header nav > .inner a { display: inline-block; height: 45px; line-height: 45px; padding: 0 25px; min-width: 120px; text-align: center; color: #fff; font-size: 1.35rem; }
header nav > .inner a:hover { background: #456E2A; }
/* 헤더 공통 E */

/* 상단 카테고리 S */
.top_categories { background: #fff; width: fit-content }
.top_categories li { display: inline-block; height: 40px; line-height: 40px; padding: 0 25px; min-width: 120px; text-align: center; color: #222; font-size: 1rem; }
.top_categories li.on { background: #7DB249; border-radius: 0% 0% 50% 50%; }
.top_categories li.on > a { color: #fff; }

/* 상단 카테고리 E */

/* 입력 항목 공통 S */
input[type='text'],
input[type='password'],
input[type='email'] { width: 100%; height: 40px; padding: 0 10px; border: 1px solid #d5d5d5; border-radius: 3px; }
select { height: 40px; border: 1px solid #d5d5d5; border-radius: 3px; }
/* 입력 항목 공통 E */
