<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1, minimum-scale=0.5, maximum-scale=3.0">
    <title th:if="${pageTitle != null}" th:text="${pageTitle}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/common/css/style.css}">
    <link rel="stylesheet" type="text/css"
          th:each="cssFile : ${addCommonCss}"
          th:href="@{/common/css/{file}.css(file=${cssFile})}">

    <link rel="stylesheet" type="text/css" th:href="@{/mobile/css/style.css}">
    <link rel="stylesheet" type="text/css"
          th:each="cssFile : ${addCss}"
          th:href="@{/mobile/css/{file}.css(file=${cssFile})}">

    <th:block layout:fragment="addCss"></th:block>

    <script th:src="@{/common/js/common.js}"></script>
    <script th:each="jsFile : ${addCommonScript}"
            th:src="@{/common/js/{file}.js(file=${jsFile})}"></script>

    <script th:src="@{/mobile/js/common.js}"></script>
    <script th:each="jsFile : ${addScript}"
            th:src="@{/mobile/js/{file}.js(file=${jsFile})}"></script>

    <th:block layout:fragment="addScript"></th:block>
</head>
<body>
<header th:replace="~{mobile/outlines/header::common}"></header>

<main layout:fragment="content"></main>

<footer th:replace="~{mobile/outlines/footer::common}"></footer>
</body>
</html>