<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="product">
    <div class="layout_width">
        <h1 th:replace="~{/front/board/skins/product/_board_title::title}"></h1>

        <form name="frmSave" method="post" th:action="@{/board/save}" autocomplete="off">
            <input type="hidden" name="mode" value="write">

            <th:block th:replace="~{front/board/skins/product/_form::form}"></th:block>

            <div class="submit_btns">
                <button type="reset" th:text="#{다시입력}"></button>
                <button type="submit" th:text="#{작성하기}"></button>
            </div>
        </form>
    </div>
</th:block>
</html>